.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: flex-end;
}
.hero-wrapper{
    position: relative;
    padding-bottom: 2rem;
    
}
.image-container{
    width: 40rem;
    height: 35rem;
}
.image-container>img{
    width: 100%;
    height: 100%;
}
.hero-title{
    font-weight: 700;
    font-size: 48px;
    color: rgb(60, 60, 60);
}
.hero-des{
    color: grey;
}
.red{
    color: red;
    font-weight: 600;
}